.app-main {
  padding-left: 250px;;
  width: flex;
}

.left-side-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color:#fad11d;
  
  left: 0px;
  width:250px;
  height:100%;
}

.in-page-header-colour {
  background-color: #e5e5ec;
}

.in-page-header-position {
  display:flex;
  margin-top:1px;
}

.in-page-header-icon {
  display: inline-block;
  padding: 50px;
  color: #898a9e;
}

.in-page-header-title {
  padding-left: 25px;
  margin-top: 25px;
}